---
title: "About Us"
description: "Learn more about our company and team"
---
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
</nav>

<section>
  <h1>About Us</h1>
  <p>Welcome to our company! We are a team of passionate developers who love building amazing software.</p>
  <p>Our mission is to create innovative solutions that help businesses grow and succeed.</p>
</section>
